
.p1 {
  height: 600px;


}
.score {
  display: flex;
  align-items: center;
  
}
.editname{
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  
    font-size: 72px;
    background: -webkit-linear-gradient(rgba(28, 7, 7, 0.99), rgb(166, 41, 208));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.backedit{
  background: linear-gradient(to top, #33ccff 0%, #ff3399 100%);
}
.changetext{
  font-weight: bolder;
}